
body 
{
	margin: auto;
	padding: 0;
	font-size: 100%;
	line-height: 1.5;
	background-color: #1a1a1a;
}

header
{
	display: block;
    margin: auto;
	width: 50%;
	background-color: #262626;
}

.content
{
	display: block;
    margin: auto;
	width: 50%;
	background-color: #404040;
}

.content2
{
	display: block;
    margin: auto;
	width: 50%;
	background-color: #262626;
}

footer
{
	display: block;
    margin: auto;
	width: 50%;
	background-color: #262626;
}

.homeFooter
{
	display: block;
    margin: auto;
	width: 50%;
	background-color: #404040;
}

.contactFooter
{
	display: block;
    margin: auto;
	width: 50%;
	background-color: #262626;
}

h1, h2, h3, h4 
{
	color: white;
	margin: 1em 0 .5em; 
	line-height: 1.25;
}

h1 
{
	font-size: 3em;
}

h2 
{
	font-size: 2em;
}

h3 
{
	font-size: 1.25em;
}

.textBlock
{
	color: white;
	display: block;
    margin: auto;
	width: 80%;
	font-family: courier;
}

.textBlock2
{
	color: white;
	display: block;
    margin: auto;
	width: 100%;
	font-family: courier;
}

.formBlock
{
	color: white;
	display: block;
    margin: auto;
	width: 90%;
	font-family: courier;
}

fieldset 
{
    display: block;
    border-width: 0px;
}

input[type=text], select 
{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], [type=reset]
{
    width: 44.5%;
    background-color: #1a1a1a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: courier;
	font-size: 1.25em;
}

input[type=submit]:hover 
{
    background-color: #45a049;
}

input[type=reset]:hover 
{
    background-color: #ff3333;
}

textarea
{
	width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	resize: none;
}

table
{
	display: block;
    margin: auto;
	width: 60%;
    border: 0px;
    border-collapse: collapse;
}

th, td 
{
    padding: 15px 40px;
}

ul 
{
	display: block;
    margin: auto;
	width: 60%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
	font-size: 20px;
}

li a:hover 
{
    background-color: #1a1a1a;
}

p, figure, legend
{
	margin: 1em 0;
	color: white;
	font-family: courier;
}

a
{
	color: inherit;
	text-decoration: inherit;
}

a img 
{
	border: none;
}

sup, sub 
{
	line-height: 0;
}